# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# PyInstaller / Packaging
build_artifacts/
build_artifacts/build/build/
dist/
*.spec



# IDE
.vscode/
.idea/

# Generated Content
data/outputs/
*.log
*.tmp
test_api.py
scripts/
